@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.flex {
  display: flex;
}
.bg-color {
  background-color: #1a0b2e;
}
.color {
  color: #ffffff;
}
.btn {
  background: linear-gradient(50deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border-radius: 1000px;
  color: #ffffff;
  align-items: center;
  gap: 5px;
  border: none;
  padding:5px ;
}

.main-img {
  width: 100%;
  display: block;
}

.play-btn {
  position: absolute;     /* 👈 image এর উপর বসবে */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  cursor: pointer;
}

.navbar {
  justify-content: space-around;
  max-width: 1600px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  
  height: 92px;
}
.nav-items {
  gap: 70px;
}
.nav-items li {
  list-style: none;
}
.nav-lists a {
  text-decoration: none;
  color: #ffffff;
}

.brand {
}
.wave {
  background: linear-gradient(0deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.techwave {
  background-image: url("./assets/footer-bg.png"); /* wave background */
  background-size: cover;
  background-position: center;
  
  padding: 70px 20px;
  color: white;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.content {
  text-align: center;
}

/* First line */
.content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content h1 span {
  color: #ff00ff;
}

/* Second line icons */
.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; /* 👈 responsive er main key */
  margin-bottom: 18px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  opacity: 0.9;
}

.icon img {
  width: 20px;
}

/* Third line */
.content p {
  font-size: 12px;
  opacity: 0.7;
}


/* Feature section */


.feature{
    text-align: center;
    background-color: #1A0B2E;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;

}

.feature-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.cards{
    gap: 30px;
}

.feature-card{
    width: 380px;
    overflow: hidden;


}

.image-wrapper {
  position: relative;     /* 👈 important */
}

.feature-body{
    text-align: start;
    padding: 24px;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 700;

}
.card-para{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff99;
    padding:  12px 0px;
}

.feature-time{
    gap: 5px;
    text-align: center;
    align-items: center;
    color: #00FF88;
}
.time-paragraph{
    line-height: 24px;
    font-size: 1rem;
    font-weight: 600;
}
.clock{
    width: 16px;
    height: 16px;
}
/* Meet the host */

.alex-kumar{
    padding: 40px;

    background:linear-gradient(#533C72,black
    ) ;
    border-radius: 35px;
    text-align: left;
    gap: 24px;


}
.host-title{
 margin-top: 80px;
 margin-bottom: 40px;
 font-size: 3rem;
 font-weight: 700;
}
.alex-title{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.alex-para{
    color:#FFFFFF99 ;
    line-height: 24px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 16px;
}

.alex-icons img{
    width: 18px;
  height: 18px;
  
    
}
.iconss{
 
  border: 1.5px solid #533C72;
  border-radius: 50%;          /* 👈 গোল */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  
}
.alex-icons{

    gap:8px ;
    
    
}




/* Small screen */
@media screen and (max-width: 576px) {
  .icon {
    width: 45%;   /* 👈 2 ta + 2 ta */
    justify-content: center;
  }
}



